body, html {
    height: 100%;
    background-color: #e3f2fd;
}

::-webkit-input-placeholder {
    color:gray !important;
}

label {
    color: gray !important;
}

a {
    cursor: pointer;
}

.red, .green, .purple {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

input[type='file'] {
    color: transparent;
    width: 100%;
}